
<table class="navigation">
  <tr class="navigation">
  
  <td {% if page.url == "/" %}class="navigation-selected"{% else %}class="navigation"{% endif %}>
    <a href="index.html">Home</a>
  </td>

  <td {% if page.url == "/people.html" %}class="navigation-selected"{% else %}class="navigation"{% endif %}>
    <a href="people.html">People</a>
  </td>

  <td {% if page.url == "/research.html" %}class="navigation-selected"{% else %}class="navigation"{% endif %}>
    <a href="research.html">Research</a>
  </td>

   <td {% if page.url == "/research.html" %}class="navigation-selected"{% else %}class="navigation"{% endif %}>
    <a href="publications.html">Publications</a>
  </td>

   <td {% if page.url == "/support.html" %}class="navigation-selected"{% else %}class="navigation"{% endif %}>
    <a href="support.html">Support</a>
  </td>
  
</tr>
</table>
